@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pizzaria Imperio</h1>
    <p><a href="https://pedido.anota.ai/loja/imperiodapizza1">Restaurante e Pizzaria</a>.</p>
</div>
